@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'knu';
    src: url('/public/fonts/knu.ttf');
}

body{
    background-color: #323a3f;
    padding: 0;
    margin: 0;
    font-family: 'knu';
}
.bg{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/pexels-lumn-167699.jpg');
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.shadow{
    text-shadow: -6px 4px #080808;
}
.header-font{
    font-family: 'Abril Fatface', cursive;
}



